<% include ../partials/_navbar.ejs %>
	<h1> Add To Your Catalogue </h1>	
	</header>
	<main>
		<form method="post" action="/photos">	
			<select name="userId">
				<% for(let i =0; i<users.length; i++){ %>
					<option value="<%=users[i].id%>"> <%=users[i].name %> </option>
				<%}%>
			</select>
			<input type="text" name="title" placeholder="title"/>
			<input type="text" name="img" placeholder="image address"/>
			<input type="submit" value="Add Photograph">
		</form>
	</main>
<% include ../partials/_footer.ejs %> 