<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header> 
		<h1> Join this firey "photo" site </h1>
		<nav>
			<a href="/"><h2> Home </h2></a>
			<a href="/users"><h2> User Index </h2></a>
		</nav>		
	</header>
	<main>
		<section>
			<form method="POST" action="/users/<%=user.id%>?_method=PUT">
				<input type="text" name="name" placeholder="username"/>
				<input type="text" name="password" placeholder="password"/>
				<button type="submit"> Edit User </button>
			</form>
		</section>
		<br>
		<section>
			<form method="POST" action="/users/<%=user.id%>?_method=DELETE">
				<button type="submit" value="Delete User" name="delete"> delete </button>
			</form>
		</section>
	</main> 
</body>
</html>