<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
</head>
<body>
	<header> 
		<h1> Edit <%=user.name%>'s Profile </h1>
		<% include ../partials/_navbar.ejs %>		
	</header>
	<main>
		<section>
			<form method="POST" action="/users/<%=user.id%>?_method=PUT">
				<input type="text" name="name" placeholder="username"/>
				<input type="text" name="password" placeholder="password"/>
				<button type="submit"> Edit User </button>
			</form>
		</section>
		<br>
		<section>
			<form method="POST" action="/users/<%=user.id%>?_method=DELETE">
				<button type="submit" value="Delete User" name="delete"> delete </button>
			</form>
		</section>
	</main> 
	<% include ../partials/_footer.ejs %>
</body>
</html>