
	<% include ../partials/_navbar.ejs%>
		<h1> Login To Your Profile </h1>
		<% include ../partials/_navbar.ejs %>	
	</header>
	<main>
	<h3>  </h3>
		<section>
			<h1> <%=user.name%> </h1>
		</section>
	<main>
		<form method="POST" action="/users">
			<input type="text" name="name" placeholder="username"/>
			<input type="text" name="password" placeholder="password"/>
			<button type="submit"><a href="/users/photos" login </button>
		</form>
	</main>
	<% include ../partials/_footer.ejs %>
</body>
</html>