<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header> 
		<h1> Join Bashley Nadison </h1>
		<h4> Don't Worry, We Won't Tell. </h4>
		<nav>
			<a href="/"><h2> Home </h2></a>
			<a href="/users"><h2> User Index </h2></a>
		</nav>		
	</header>
	<main>
		<form method="POST" action="/users">
			<input type="text" name="name" placeholder="username"/>
			<input type="text" name="password" placeholder="password"/>
			<button type="submit"> create user </button>
		</form>
	</main>
	<% include ../partials/_footer.ejs %> 
</body>
</html>