<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header> 
		<h1> Dem Users are HAWT! </h1>
		<nav>
			<a href="/"><h2> Home </h2></a>
			<a href="/users"><h2> User Index </h2></a>
		</nav>		
	</header>
	<main>
		<section>
			<h1> <%=user.name%> </h1>
		</section>
		<section>
			<h2>  <%=user.name%> profile </h2>
		</section>
		<section>
			<a href="/users/<%=user.id%>/edit"> Edit <%=user.name%> </a>
		</section>
	</main>
</body>
</html>